In [40]:
import pandas as pd
df = pd.read_csv(r"C:\Users\DaRK LoRD\Downloads\fake_or_real_news.csv")
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [41]:
df.shape

(6335, 4)

In [42]:
df = df.set_index("Unnamed: 0")
df.head()

,title,text,label
Unnamed: 0,,,
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [44]:
y = df.label

In [45]:
df.drop("label", axis=1)

,title,text
Unnamed: 0,,
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello..."
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T..."
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...
6903,"Tehran, USA","\nI’m not an immigrant, but my grandparents ..."
7341,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o..."
95,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...
4869,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...
2909,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...
1357,"With all three Clintons in Iowa, a glimpse at ...","CEDAR RAPIDS, Iowa — “I had one of the most wo..."
988,Donald Trump’s Shockingly Weak Delegate Game S...,Donald Trump’s organizational problems have go...
7041,"Strong Solar Storm, Tech Risks Today | S0 News...",Click Here To Learn More About Alexandra's Per...
7623,10 Ways America Is Preparing for World War 3,"October 31, 2016 at 4:52 am \nPretty factual e..."
1571,"Trump takes on Cruz, but lightly","Killing Obama administration rules, dismantlin..."
4739,How women lead differently,"As more women move into high offices, they oft..."
7737,Shocking! Michele Obama & Hillary Caught Glamo...,Shocking! Michele Obama & Hillary Caught Glamo...
8716,Hillary Clinton in HUGE Trouble After America ...,0 \nHillary Clinton has barely just lost the p...
3304,What's in that Iran bill that Obama doesn't like?,"Washington (CNN) For months, the White House a..."
3078,The 1 chart that explains everything you need ...,While paging through Pew's best data visualiza...
2517,The slippery slope to Trump’s proposed ban on ...,"With little fanfare this fall, the New York de..."
10348,Episode #160 – SUNDAY WIRE: ‘Hail to the Deplo...,"November 13, 2016 By 21wire Leave a Comment \n..."
778,Hillary Clinton Makes A Bipartisan Appeal on S...,Hillary Clinton told a Staten Island crowd tod...
3300,New Senate majority leader’s main goal for GOP...,Mitch McConnell has an unusual admonition for ...
6155,‘Inferno’ and the Overpopulation Myth,"Mises.org November 1, 2016 Inferno is a great ..."
636,Anti-Trump forces seek last-ditch delegate revolt,Washington (CNN) The faction of the GOP that i...
755,Sanders Trounces Clinton in W. Va. -- But Will...,"Meanwhile, Democrat Bernie Sanders picked up m..."
626,Donald Trump Is Changing His Campaign Slogan t...,After a week of nonstop criticism from Democra...
691,Pure chaos: Donald Trump’s campaign management...,If you want a glimpse into a presidential cand...
5743,"Syrian War Report – November 1, 2016: Syrian M...","Syrian War Report – October 31, 2016: Al-Nusra..."
...,...,...
6457,Colin Kaepernick hosts ‘Know Your Rights’ camp...,Print \n[Ed. – Now teaching the gospel of raci...
7030,Wikileaks Emails Disclose Aliens Linked to Vat...,Sound too “strange” to be true? We have proof!...
9013,US abstains from UN vote calling for end to Cu...,US abstains from UN vote calling for end to Cu...
9509,West Ham fans laud aerodynamic properties of n...,Tuesday 1 November 2016 by Formelia Alberthine...
3825,How the Obama White House runs foreign policy,When Susan E. Rice took over as President Obam...
4515,"ISIS claims responsibility for Garland, Texas,...",(CNN) ISIS has claimed responsibility for the ...
2747,The “blame the left” crew: What the right’s ne...,It was inevitable that liberals would end up b...
6516,ADHD NATION: How Big Pharma Created the ADHD E...,"By Kalee Brown\nWhile I was at university, man..."
9636,Donald Trump claims the election will be 'rigg...,Email \nDonald Trump is again riling up his vo...
7398,REPORT: Dirty Reporter Blackmails Montel… Help...,"BREAKING: Trump Jumps in FL, Takes 4 Point Lea..."
3717,Police Arrest Suspect In Charleston Church Sho...,"Police in Charleston, S.C., say a man they sus..."
5205,Donald Trump’s collapse was caused by one big ...,Silver of FiveThirtyEight.com has laid out fou...
6696,FINA suspends Russian swimmer for 8 years over...,This post was originally published on this sit...
7991,BREAKING : Hillary Campaign Manager Deletes hi...,BREAKING : Hillary Campaign Manager Deletes hi...
1303,Why Ted Cruz Has the Most to Lose in New Hamps...,Ted Cruz took first prize in the Iowa caucuses...
9051,“Nothing Good Can Come of This Election”–and T...,"Posted on November 4, 2016 by Charles Hugh Smi..."
10200,List of Republicans opposing Trump | OffGuardian,"Charlie Baker , Massachusetts (2015–present)[3..."
10009,Putin: Use of 'mythical' Russian military thre...,"vladimir putin , Valdai , sochi , RBTH Daily R..."
4214,Bernie Sanders says private meeting with Pope ...,ROME — U.S. Democratic presidential candidate...
2316,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...
8411,Will the Media Reset After the Election or Are...,Written by Peter Van Buren venerable New Yor...
6143,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,DOJ COMPLAINT: Comey Under Fire Over Partisan ...
3262,GOP Senator David Perdue Jokes About Praying f...,The freshman senator from Georgia quoted scrip...
9337,Radio Derb Is On The Air–Leonardo And Brazil’s...,
8737,Assange claims ‘crazed’ Clinton campaign tried...,Julian Assange has claimed the Hillary Clinton...
4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...
8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...
8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...
4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene..."
4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...

In [46]:
y.head()

Unnamed: 0
8476     FAKE
10294    FAKE
3608     REAL
10142    FAKE
875      REAL
Name: label, dtype: object

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], y, test_size=0.33, random_state=53)

In [49]:
X_train.head()

Unnamed: 0
8055
5656    Report Copyright Violation Do you think there ...
669     The election in 232 photos, 43 numbers and 131...
5630    Email Ever wonder what’s on the mind of today’...
9797    Wells Fargo is Rotting from the Top Down Wells...
Name: text, dtype: object

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [51]:
count_vectorizer = CountVectorizer(stop_words='english')
count_train = count_vectorizer.fit_transform(X_train) 
count_test = count_vectorizer.transform(X_test)

In [53]:
print(count_train.A.shape)
print(X_train.shape)
print(len(count_vectorizer.get_feature_names()))

(4244, 56922)
(4244,)
56922

In [54]:
print(count_vectorizer.get_feature_names()[:10])

['00', '000', '0000', '00000031', '000035', '00006', '0001', '0001pt', '000ft', '000km']

In [55]:
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

In [56]:
count_df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
4214    0
4215    0
4216    0
4217    0
4218    0
4219    0
4220    0
4221    0
4222    0
4223    0
4224    0
4225    0
4226    0
4227    0
4228    0
4229    0
4230    0
4231    0
4232    0
4233    0
4234    0
4235    0
4236    0
4237    0
4238    0
4239    0
4240    0
4241    0
4242    0
4243    0
Length: 4244, dtype: int64

In [57]:
count_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Using Multinomial Naive Bayes

In [58]:
from sklearn.naive_bayes import MultinomialNB

In [59]:
clf = MultinomialNB()

In [60]:
from sklearn import metrics

In [61]:
clf.fit(count_train, y_train)
pred = clf.predict(count_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.893

In [62]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

In [63]:
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

In [64]:
tfidf_test = tfidf_vectorizer.transform(X_test)

In [65]:
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

In [66]:
tfidf_df.head()

,00,000,0000,00000031,000035,00006,0001,0001pt,000ft,000km,...,حلب,عربي,عن,لم,ما,محاولات,من,هذا,والمرضى,ยงade
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
clf = MultinomialNB()

In [67]:
clf.fit(tfidf_train, y_train)
pred = clf.predict(tfidf_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.857

# Using passive aggressive classifier

In [68]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [69]:
linear_clf = PassiveAggressiveClassifier(n_iter=50)

In [70]:
linear_clf.fit(tfidf_train, y_train)
pred = linear_clf.predict(tfidf_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

accuracy:   0.937

In [71]:
linear_clf.fit(count_train, y_train)
pred = linear_clf.predict(tfidf_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

accuracy:   0.892